h2 Create new user
form(action="/users/create" method="POST")
	input(type="text", placeholder="Your name", name="name")
	input(type="text", placeholder="Your email", name="email")
	input(type="text", placeholder="Your age", name="age")
	input(type="submit")